<header>
  <nav>
    <div routerLink="up" class="menu-item menu-item-nav" style="background-color: rgb(106, 253, 162);">
      <h3>Up</h3>
    </div>
    <div routerLink="down" class="menu-item menu-item-nav" style="background-color: rgb(250, 156, 119);">
      <h3>Down</h3>
    </div>
    <div routerLink="reset" class="menu-item menu-item-nav" style="background-color: rgb(252, 8, 8);">
      <h3>Reset</h3>
    </div>
  </nav>
  <div class="menu-item menu-item-counter">
    <app-counter [counter]="counter"></app-counter>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
